.wrapper {
    width: 100%;
    position: relative;
}


.wrapper.error .input {
    border: 2px solid #F9543D;
    color: #F9543D
}

.input {
    padding: 10px;
    background-color: inherit;
    outline: none;
    border: 1px solid #7D7D7D;
    border-radius: 5px;
    font-family: inherit;
    font-size: 18px;
    line-height: 20px;
    box-sizing: border-box;
    width: 100%;
}

.input::placeholder {
    color: #7D7D7D
}

.errorIcon {
    width: 30px;
    height: 30px;
    background-image: url(./assets/error.svg);
    background-repeat: no-repeat;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #F9543D;
    cursor: pointer;
}

.errorTextWrapper {
    position: relative;
    height: 100%;
}

.anotherWrapper {
    position: absolute;
    right: 0;
    width: 400px;
    height: 100%;
}

.errorText {
    position: absolute;
    top: 90%;
    right: 0;
    color: #F9543D;
    font-size: 14px;
    line-height: 16px;
    margin-top: 5px;
    color: white;
    background-color: #FF5E3A;
    border-radius: 5px;
    padding: 5px;
    max-width: 400px;
    width: max-content;
}

.errorText::after {
    position: absolute;
    content: "";
    top: 0;
    transform: translateY(-98%);
    right: 8px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 10px solid #FF5E3A;
}