.button {
  width: 50px !important;
  height: 50px !important;
  border-radius: 100px !important;
  background-color: #12CE70 !important;
  transition: opacity ease-in 0.2s !important;
}

.button:hover {
  opacity: 0.7 !important;
}

.button:active {
  opacity: 0.5 !important;
}

.icon {
  margin: auto;
  color: white !important;
}
