.container {
  padding: 50px;
  position: relative;
}

.header {
  display: flex;
  gap: 50px;
  align-items: center;
}

.buttons {
display: flex;
flex-direction: row;
gap: 10px;
align-items: center;
}

.subContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.exhibitsSubTitle {
  font-size: 20px;
  line-height: 22px;
  color: #444444;
  font-weight: 400;
  margin: 0 0 20px 0;
}

.title {
  font-family: var(--font-factor-a);
  font-size: 32px;
  line-height: 35px;
  font-weight: 500;
  color: #1E1E1E
}

.descriptionTitle {
  font-family: var(--font-factor-a);
  font-size: 20px;
  line-height: 22px;
  font-weight: 400;
  color: #444444;
}

.description {
  font-family: var(--font-factor-a);
  padding: 20px 10px;
  font-size: 20px;
  line-height: 22px;
  border: 1px solid #7D7D7D;
  border-radius: 5px;
  display: inline-block;
  margin: 0;
}

.actionButtons {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.actionButton {
  width: 280px !important;
}