.toolbar {
  width: 525px;
  background-color: #161C2E;
  border-radius: 25px;
  padding: 10px 25px !important;
  font-family: var(--font-factor-a) !important;
  margin-bottom: 25px;
}

.ql-picker-label {
  color: black !important;
  border: none !important;
}

.toolbar button {
  fill: white !important;
  color: white !important;
}

.toolbar line, .toolbar path, .toolbar rect, .toolbar polyline, .toolbar polygon {
  stroke: white !important;
  opacity: 1 !important;
}/*влияет на цвет иконок в конструкторе*/

.ql-script svg path {
  fill: white !important;
}

.ql-strike svg path {
  fill: white !important;
}

.ql-header svg path {
  fill: white !important;
}

.ql-picker-item .ql-stroke, .ql-picker-item line  {
  stroke: rgb(173, 173, 173) !important;
  fill: rgb(173, 173, 173) !important;
}

.ql-snow .ql-picker.ql-font {
  width: 140px !important;
}

.ql-editor, .ql-container {
  font-family: inherit !important;
}

.ql-font.ql-picker, .ql-size.ql-picker {
  background: white !important;
  color: black !important;
  margin: 0 10px 0 0;
  border-radius: 15px;
}

.ql-font.ql-picker polygon, .ql-size.ql-picker polygon {
  fill: #161C2E !important;
  stroke: #161C2E !important;
}

.ql-color .ql-picker-options, .ql-background .ql-picker-options {
  border: 2px solid #FF5E3A !important;
  border-radius: 10px !important;
  width: 220px !important;
}

.ql-color .ql-picker-options .ql-picker-item, .ql-background .ql-picker-options .ql-picker-item {
  width: 30px !important;
  height: 30px !important;
  border-radius: 5px !important;
  border: 1px solid #202020 !important;
}

.ql-font .ql-picker-options {
  max-height: 500px;
  overflow-y: auto;
  scrollbar-width: none;
}



