.block {
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    margin: auto;
    text-align: center;
    vertical-align: middle;
}

.title {
    margin: 0;
    padding: 0;
}

.textContainer {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.text {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
}

.image {
    width: 100%;
    max-height: 100%;
}

.carousel {
    max-width: 100%;
}

.imageContainer {
    height: min-content;
    position: relative;
    box-sizing: border-box;
}

.labels {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    left: 0;
}

.imageLabel {
    padding: 10px;
    width: 100%;
    background-color: rgba(200, 200, 200, 0.7);
    box-sizing: border-box;
    transition: opacity ease-in-out 0.2s;
}