.wrapper {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    border: 1px solid #FF8A5C;
    border-radius: 10px;
    transition: background-color ease-in-out 0.5s, color ease-in-out 0.4s;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.wrapper.selected {
    background-color: #FF8A5C;
    color: white;
}

.font {
    margin: 0;
}

.font:first-child {
    margin-bottom: 5px;
}