.container {
    display: grid;
    width: 100%;
    max-height: 520px;
}

.FULL {
    grid-template-columns: 100%;
}

.HALF_HALF {
    grid-template-columns: 50% 50%;
}

.SIXTY_FORTY {
    grid-template-columns: 60% 40%;
}

.SEVENTY_THIRTY {
    grid-template-columns: 70% 30%;
}

.QUARTER_QUARTER_QUARTER_QUARTER_ROW {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
