.menu {
    font-family: Monserrat, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 50px 0;
    margin: 0;
    list-style: none;
    width: 100%;
    height: calc(100vh - 100px);
    border-right: 1px solid rgba(0, 0, 0, 0.09);
}

.menuItem {
    cursor: pointer;
    font-size: 20px;
    text-decoration: none;
    color: black;
    transition: opacity 0.2s;
}

.menuItem.exit {
    color: #ff3535;
}

.menuItem:hover {
    opacity: 0.7;
}