.albums {
    position: relative;
    padding: 20px 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.title {
    color: #1E1E1E;
    font-family: var(--font-factor-a);
    font-size: 32px;
    line-height: 35px;
    font-weight: 500;
    margin: 50px 50px 20px 50px;
}