.wrapper {
    display: flex;
    height: 60px;
    gap: 2px;
}

.imageWrapper {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #CDCDCD;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color ease-in-out 0.5s;
}

.imageWrapper:hover {
    background-color: rgba(255, 138, 92, 0.32);
}

.imageWrapper.selected {
    background-color: #FF8A5C;
}
