.contentBlockRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.iconTextPosition {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 5px;
  --g-button-background-color: white;
  --g-button-background-color-hover: white;
  --g-button-border-width: 1px;
  --g-button-border-color: rgba(205, 205, 205, 1);
}

.iconTextPosition.active::before {
  box-sizing: border-box;
  position: absolute;
  top: -4px;
  left: -4px;
  display: block;
  content: "";
  width: 56px;
  height: 57px;
  border: 3px solid #161C2E;
  border-radius: 10px;
}