.block {
    margin: 10px;
    display: block;
    box-sizing: border-box;
    max-height: 500px;
    position: relative;
    align-items: center;
}

.double {
    max-height: 1040px;
}

.moreButton {
    transition: opacity ease-in 0.2s;
}


.imageContainer {
    background-color: rgba(234, 234, 234, 0.56);
    display: block;
    height: 100%;
    box-sizing: border-box;
    max-height: 100%;
    max-width: 100%;
    position: relative;
    justify-content: center;
}

.imageContainer .image {
    display: block;
    object-fit: contain;
    width: 100%;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
}

.imageContainer .info {
    padding: 20px;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.66);
    position: absolute;
    top: 0;
    box-sizing: border-box;
    transition: all ease-in 0.2s;
}

.centerWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.documentContainer {
    margin: 0;
    max-height: 100%;
    width: 100%;
    box-sizing: border-box;
    overflow: clip;
    border-radius: 20px;
    padding: 20px;
    border: 1px solid #0095ff;
    position: relative;
}

.documentContainer .title {
    text-align: center;
}

.textContainer {

}

.videoContainer {
    /*display: flex;*/
    width: 100%;

}