.constructorWidget:hover {
    cursor: pointer;
}

.constructorCard {
    width: 150px;
    height: 150px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
    font-weight: 400;
    font-size: 20px;
    --g-card-border-radius: 10px;
    --g-card-border-width: 2px;
    --g-card-border-color: rgba(255, 138, 92, 1);
}
