.content {
    box-sizing: border-box;
    width: 300px;
    background-color: #161C2E;
    padding: 35px;
    min-height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    gap: 20px;
}

.colorInputWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.colorInputLabel {
    font-size: 16px;
    line-height: 18px;
    color: white;
    margin: 0;
}

.colorInput {
    background-color: inherit;
    border: 1px solid white;
    border-radius: 3px;
    font-size: 16px;
    line-height: 18px;
    width: 70px;
    color: white;
    padding: 7px;
    outline: none;
}

.saveButton {
    padding: 10px;
    width: 120px;
    font-size: 16px;
    border-radius: 5px;
}

.saveButton:hover {
    font-size: 17px;
}

.saveButton:active {
    font-size: 15px;
}