.react-colorful__hue {

    margin-top: 25px !important;
    height: 15px !important;
    border-radius: 20px !important;
    width: 100% !important;
}

.react-colorful {
    width: 230px !important;
    height: 100% !important;
}

.react-colorful__saturation {
    border-radius: 5px !important;
    height: 230px !important;
    border-bottom: none !important;
}

.react-colorful__pointer {
    width: 15px !important;
    height: 15px !important;
    box-sizing: border-box !important;
}