.button {
  height: 65px;
  font-family: var(--font-factor-a);
  font-size: 20px;
  line-height: 22px;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  background-color: #161C2E !important;
  width: auto;
  border-radius: 40px;
  padding: 25px;
  box-sizing: border-box;
}

.button:hover {
  background-color: #1D243A !important;
}
