.colorsWrapper {
    display: flex;
    align-items: center;
    height: 60px;
    gap: 10px;
    padding: 0 5px;
}

.colorItem {
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    border: 1px solid #CDCDCD;
    border-radius: 7px;
    position: relative;
    cursor: pointer;
}

.colorItem.active::before {
    box-sizing: border-box;
    position: absolute;
    top: -4px;
    left: -4px;
    display: block;
    content: "";
    width: 56px;
    height: 57px;
    border: 3px solid #161C2E;
    border-radius: 10px;
}