.modalAlbums {
    min-width: 485px;
    max-width: 485px;
    padding: 10px;
    overflow: auto;
    height: 290px;
}

.selectAlbums {
    width: 200px;
}

.blockAlbums {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.blockWrapAlbums {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
}

.contentAlbums {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
}
