.imageFormatsWrapper {
  display: flex;
  align-items: center;
  height: 60px;
  gap: 10px;
  padding: 0 5px;
}

.imageFormat {
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  border: 1px solid #CDCDCD;
  border-radius: 7px;
  position: relative;
  cursor: pointer;
}

.imageFormat.active::before {
  box-sizing: border-box;
  position: absolute;
  top: -4px;
  left: -4px;
  display: block;
  content: "";
  width: 56px;
  height: 57px;
  border: 3px solid #161C2E;
  border-radius: 10px;
}

.square {
  background-repeat: no-repeat;
  background-color: #161C2E;
  width: 100%;
  height: 100%;
  margin: 7.5px;
  width: 35px;
  height: 35px;
  margin: 15%;
}

.circle {
  background-color: #161C2E;
  width: 100%;
  height: 100%;
  margin: 15%;
  width: 35px;
  height: 35px;
  border-radius: 100%;
}