.button {
    width: 100%;
    padding: 17px;
    font-family: inherit;
    font-size: 20px;
    line-height: 22px;
    background-color: #FF5E3A;
    border-radius: 10px;
    border: 1px solid #FF5E3A;
    color: white;
    cursor: pointer;
    transition: background-color ease-in 0.15s;
}

.button:active {
    background-color: #E1401C !important;
}

.button:disabled {
    background-color: #7D7D7D !important;
    border-color: #7D7D7D;
    cursor: auto;
}
