.container {
    bottom: 10px;
    right: 10px;
    position: absolute;
}

.title {
    background-color: inherit;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}

.name {
    background-color: inherit;
}

.description {
    background-color: inherit;
}