.imageUpload {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 15px;
    width: 700px;
    align-items: center;
}

.imageButton {
    cursor: pointer;
    box-sizing: border-box;
    width: 151px;
    height: 151px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border: 1px solid #FF5E3A;
    transition: opacity ease-in 0.2s;
}

.imageButton:hover {
    opacity: 0.8;
}

.imageButton:active {
    opacity: 0.6;
}

.icon {
    filter: invert(74%) sepia(80%) saturate(2489%) hue-rotate(320deg) brightness(101%) contrast(101%);
}

.image {
    background-color: #CDCDCD;
    object-fit: contain;
    max-width: 100%;
    width: 100%;
    height: 100%;

}

.imageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 700px;
    height: 394px;
    border: 1px dashed #FF8A5C;
}

.imageContainerEdit {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 10px;
}

.imageContainerAlbum {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 200px;
    height: 200px;
    border: 1px dashed #FF8A5C;
}

.imagePreview {
    object-fit: contain;
    max-width: 700px;
    max-height: 394px !important;
    overflow: hidden;
}

.imagePreviewAlbum {
    object-fit: contain;
    max-width: 200px;
    max-height: 200px !important;
    overflow: hidden;
}

.placeholder {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.placeholderName {
    color: #FF5E3A;
    font-size: 16px;
    margin: 0;
}

.title {
    font-size: 24px;
    line-height: 26px;
    font-weight: 400;
    text-align: center;
    margin: 0;
}

.link {
    font-size: 22px;
    color: black;
}

.buttonsContainer {
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center;
    gap: 10px
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;

}

.cancelButton {
    font-weight: 300;
    font-size: 18px;
    line-height: 20px;
    color: #FF5E3A;
    cursor: pointer;
    text-decoration: underline;
    transition: opacity ease-in 0.2s;
}

.cancelButton:hover {
    opacity: 0.8;
}

.cancelButton:active {
    opacity: 0.6;
}

.sliderContainer {
    width: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
    height: 100%;
    overflow: auto;
    scrollbar-width: none;
    padding: 25px 0;
    box-sizing: border-box;
}

.title {
    margin: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 26px;
}

.content {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.subContent {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.subContentStructure {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.subContentTemplate {
    height: 620px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
    scrollbar-color: #ff8a5c #f5fdfe;
}

.contentLeft {
    display: flex;
    flex-direction: column;
    width: 700px;
    align-items: start;
    gap: 15px;
    padding: 0 4px;
}

.contentBlock {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
    padding: 0 4px;
}

.contentBlockColumn {
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    gap: 15px;
}

.contentBlockRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.bigSubtitle {
    margin: 0;
    font-size: 22px;
    font-weight: 400;
    line-height: 22px;
}

.subtitle {
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 22px;
}

.miniSubtitle {
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 22px;
    color: #7D7D7D;
}

.text {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
}

.saveButton {
    margin-top: auto;
}

.titleWithValueWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titleWithValue {
    margin: 0;
    font-size: 20px;
    line-height: 22px;
}


