.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
    gap: 40px;
    align-items: center;
}

.navLink {
    text-decoration: none;
    color: black;
    font-size: 20px;
    line-height: 23px;
}