.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
}

.link {
    text-decoration: none;
    color: black;
    transition: transform ease-in 0.1s;
}

.link:hover {
    transform: scale(1.005);
}

.upperWrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.name {
    margin: 0;
    font-size: 20px;
}

.description {
    margin: 0;
}

.owner {
 margin: 0;
}

.owner span {
    font-weight: bold;
}