.wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px
}

.colors {
    width: 100%;
    display: flex;
    background-color: #CDCDCD;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    height: 60px;
}

.colorItem {
    display: block;
    height: 40px;
    width: 100%;
}