.page {
    width: 100vw;
    height: calc(100vh - 65px);
    background-color: #161C2E !important;
}

.loginBlock {
    position: absolute;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 580px;
}

.loginContent {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    height: auto;
    padding: 40px 50px;
    border: 2px solid #FF5E3A;
    border-radius: 20px;
    background-color: white;
}

.title {
    font-family: var(--font-factor-a);
    text-align: center;
    margin: 0;
    font-size: 40px;
    line-height: 44px;
    font-weight: 700;
    margin-bottom: 40px;
    color: white;
}

.confirm {
    width: 100%;
}
