.container {
    bottom: 10px;
    right: 10px;
    position: absolute;
}

.modal {
    align-items: flex-start;
    gap: 30px;
}

.settingWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.title {
    background-color: inherit;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}

.fieldName {
    font-family: var(--font-factor-a);
    font-size: 20px;
    font-weight: 400;
    line-height: 22px;
    color: #161C2E;
    text-align: left;
    margin: 0;
}

.name {
    background-color: inherit;
}

.description {
    
}