.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.label {
  font-size: 20px;
  font-weight: 400;
  line-height: 22px;
  color: #444444;
  margin: 0;
}

.text {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 22px;
  color: #161C2E;
}