.container {
    height: 100%;
    position:  fixed;
    width: 100%;
}

.text {
    text-align: center;
    margin: auto;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: #575757;
}