.textarea {
    padding: 10px;
    background-color: inherit;
    outline: none;
    border: 1px solid #7D7D7D;
    border-radius: 5px;
    font-family: inherit;
    font-size: 18px;
    line-height: 20px;
    resize: none;
    box-sizing: border-box;
    width: 100%;
}

.textarea::placeholder {
    color: #7D7D7D
}