.imageBlock {
    height: 287px;
    display: flex;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='15' ry='15' stroke='%23FF8A5CFF' stroke-width='2' stroke-dasharray='14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    align-items: center;
    justify-content: center;
}

.addImageBtn {
    --g-button-background-color: none;
    --g-button-background-color-hover: none;
}

.teamMemberBlock {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    z-index: 1;
}

.memberInfBlock {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 10px;
}

.textBlock {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    z-index: 1;
}

.textareaBlock {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.text {
    width: 100%;
    height: 287px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.inpBlock {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    border: none;
    resize: none;
    outline: none;
    scrollbar-width: none;
    background: transparent;
}

.hintCard {
    position: absolute;
    margin-top: -24px;
    max-width: 73px;
    padding: 5px 15px;
    background-color: white;
    border: 2px solid rgba(205, 205, 205, 1);
    border-radius: 5px;
    font-size: 16px;
    z-index: 2;
}
