.slick-list {
    max-width: 1115px !important;
}

@media (max-width: 1730px) {
    .slick-list {
        max-width: 950px !important;
    }
}

@media (max-width: 1560px) {
    .slick-list {
        max-width: 785px !important;
    }
}

@media (max-width: 1400px) {
    .slick-list {
        max-width: 625px !important;
    }
}

@media (max-width: 1230px) {
    .slick-list {
        max-width: 460px !important;
    }
}

.slick-arrow {
    color: black !important;
}

.slick-prev {
    width: 25px !important;
    height: 25px !important;
}

.slick-prev::after {
    width: 25px !important;
    height: 25px !important;
}

.slick-next {
    width: 25px !important;
    height: 25px !important;
}

.slick-next::after {
    width: 25px !important;
    height: 25px !important;
}
