.g-base-slider__rail {
    background-color: #CDCDCD !important;
}

.g-base-slider__handle {
    border-color: #FF8A5C !important;
}

.g-base-slider__track {
    background-color: #FF8A5C !important;
}

.g-base-slider__track_size_m::before {
    background-color: #FF8A5C !important;
}

.g-base-slider__handle:focus {
    box-shadow: 0 0 0 3px #ffa988 !important;
}

.g-base-slider__handle:active {
    box-shadow: 0 0 0 3px #ffa988 !important;
}