.title {
    text-align: center;
    margin: 10px;
    font-size: 24px;
}

.image {
    max-width: 700px;
    width: auto;
    object-fit: contain;
}

.document {
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
}

.descriptionTitle {
    font-size: 20px;
    margin: 10px 0;
}

.description {
    margin: 0;
    font-size: 16px;
}

.dates {
    margin: 0;
}