.navigation {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.09);
    height: 65px;
    padding: 6px 20px;
    background-color: #FF5E3A;
;
}

.image {
    height: 100%;
    object-fit: contain;
}

.linksContainer {
    display: flex;
    align-items: center;
    gap: 20px
}

.navLink {
    text-decoration: none;
    color: black;
    font-size: 16px;
    line-height: 24px;
}

.navLinkActive {
    border-bottom: 1px solid black;
}

.user {
    color: white;
    font-size: 18px;
    font-weight: 700;
}

.user::after {
    border: none;
}

.linksWrapper {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.link {
    text-decoration: underline;
    color: black;
    color: white;
    font-size: 20px;
}
