.card {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 425px;
    height: auto;
    box-sizing: border-box;
    border: 1px solid #CDCDCD;
    border-radius: 10px;
    transition: color ease-in 0.2s, background-color ease-in 0.2s, border ease-in 0.1s;
    cursor: pointer;
}

.card:hover {
    background-color: #FF5E3A;
    color: white;
}

.card:active {
    background-color: #FF5E3A;
    color: white;
    border: 2px solid #161C2E;
}

.link {
    text-decoration: none;
    color: black;
    transition: transform ease-in 0.1s;
    width: 100%;
}

.image {
    object-fit: fit !important;
    padding: 0;
    width: 100%;
    margin: 0;
    max-height: 240px;
    border-radius: 8px;
}

.info {
    padding: 20px 15px;
}

.title {
    padding: 0;
    font-size: 20px;
    line-height: 20px;
    margin: 0;
}

.description {
    padding: 0;
    margin: 0 0 10px;
}