.imageContainer {
    position: relative;
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    object-fit: cover;
}

.editButton {
    opacity: 0;
    transition: opacity 0.3s;
    --g-button-border-width: 2px;
    --g-button-border-radius: 10px;
    --g-button-border-color: #FF8A5C;
    --g-button-background-color: white;
    --g-button-background-color-hover: #FF5E3A;
    color: black !important;
}

.editButton:hover {
    color: white !important;
}
