.wrapper {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.item {
  width: 50px;
  height: 50px;
  border: 1px solid #CDCDCD;
  border-radius: 5px;
  box-sizing: border-box;
  position: relative;
}

.item.active::before {
  box-sizing: border-box;
  position: absolute;
  top: -4px;
  left: -4px;
  display: block;
  content: "";
  width: 56px;
  height: 57px;
  border: 3px solid #161C2E;
  border-radius: 10px;
}

.background::after {
  content: "";
  position: absolute;
  width: 35px;
  height: 35px;
  background-color: #161C2E;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 16px;
  background-color: #161C2E;
  top: 50%;
  left: 90%;
  transform: translate(-100%, -50%);
}