.content {
    padding: 5px 0;
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contentBlock {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0 4px;
}

.infContent {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.subtitle {
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 22px;
}

.miniSubtitle {
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 22px;
    color: #7D7D7D;
}

.titleWithValueWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titleWithValue {
    margin: 0;
    font-size: 20px;
    line-height: 22px;
}
