.coverContainer {
  width: 100%;
  padding: 60px 104px;
  box-sizing: border-box;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.coverContent {
  display: flex;
  gap: 60px;
  width: 100%;
  height: 100%;
  align-items: center;
  padding: 100px 0;
  box-sizing: border-box;
}

.coverInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  min-width: 50%;
}

.imageContainer {
  width: 100%;
  height: 100%;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.editContainer {
    position: relative;
    cursor: pointer;
}

.editContainer.hovered {
    border: 3px solid rgba(255, 94, 58, 1)
}
