.blockContainer {
    position: relative;
    padding: 27px;
    box-sizing: border-box;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 25px;
}

.blockContainer:hover {
    cursor: pointer;
}

.blockContainerTeam {
    position: relative;
    padding: 27px;
    box-sizing: border-box;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    column-gap: 25px;
    row-gap: 30px;
}

.blockContainerTeamTitle {
    position: relative;
    padding: 27px;
    box-sizing: border-box;
    background-size: cover;
    display: flex;
    width: 100%;
}

.hintCard {
    position: absolute;
    top: -22px;
    left: 20px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: rgba(255, 94, 58, 1);
    border-radius: 5px;
    padding: 5px 15px;
    gap: 10px;
    z-index: 2;
}

.hintText {
    line-height: 25px;
    font-size: 16px;
    color: white;
}

.switchBtn {
    --g-button-background-color: none;
    --g-button-background-color-hover: none;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.overlay:hover {
    cursor: pointer;
}
