.container {
    padding: 20px;
    position: relative;
}

.title {
    text-align: center;
}

.descriptionTitle {

}

.description {
    padding-bottom: 10px;
    font-size: 16px;
    border-bottom: 1px solid black;
    display: inline-block;
    margin: 0;
}

.exhibitsTitle {

}

.exhibits {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}