.pointCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px 10px 20px;
    border: 1px solid rgba(255, 138, 92, 1);
    border-radius: 10px;
    background-color: white;
}

.pointCardInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.pointCardText {
    font-weight: 400;
    font-size: 20px;
}

.pointCardBtn {
    --g-button-background-color: white;
    --g-button-background-color-hover: white;
    --g-button-padding: 0;
}

.pointCardIcon {
    width: 30px;
    height: 30px;
}

