.wrapper {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
}

.album {
    height: 100%;
    width: 425px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    border: 1px solid #CDCDCD;
    border-radius: 10px;
    position: relative;
    transition: background-color ease-in-out 0.2s, border ease-in 0.1s;
}

.album:hover {
    background-color: #FF5E3A;
}

.album:active {
    border-width: 2px;
    border-color: black;
}

.link {
    text-decoration: none;
    color: black;
    overflow: hidden;
}

.buttons {
    transition: opacity ease-in 0.2s;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.imageWrapper {
    grid-area: albumImage;
    width: 100%;
    height: 240px;
    background-color: #CDCDCD;
    border-radius: 8px;
    position: relative;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.placeholder {
    position: absolute;
    margin: auto;
    grid-area: albumImage;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    object-fit: contain;
    color: #7D7D7D;
}

.info {
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: color ease-in 0.2s;
}

.title {
    font-family: var(--font-factor-a);
    font-weight: 700;
    margin: 0;
    font-size: 24px;
    line-height: 27px;
}

.album:hover .title {
    color: white;
}

.description {
    margin: 0;
    font-family: var(--font-factor-a);
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    color: #7D7D7D;
}

.album:hover .description {
    color: white;
}