.blockGroup {
    box-sizing: border-box;
  display: grid;
  width: 100%;
  position: relative;
  z-index: 2;
  padding: 30px 140px;
  
}

.FULL {
    grid-template-columns: 100%;
}

.HALF_HALF {
    grid-template-columns: 50% 50%;
}

.SIXTY_FORTY {
    grid-template-columns: 60% 40%;
}

.SEVENTY_THIRTY {
    grid-template-columns: 70% 30%;
}

.QUARTER_QUARTER_QUARTER_QUARTER {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}