.constructorPage {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 65px)
}

.btnGroupBlock {
    position: fixed;
    bottom: 15px;
    right: 25px;
    --g-button-font-size: 15px;
    --g-text-body-font-weight: 700;
    --g-button-border-color: #3688DA;
    --g-button-border-width: 1px;
}
