.templateCard {
    box-sizing: border-box;
    width: 100%;
    min-height: 130px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: background-color ease-in-out 0.5s, color ease-in-out 0.4s;
    align-items: center;
    padding: 30px 15px;
    border: 2px solid rgba(255, 94, 58, 1);
    border-radius: 10px;
}

.templateCard:hover {
    cursor: pointer;
    background-color: rgba(205, 205, 205, 1);
}

.templateCard.selected {
    background-color: rgba(255, 94, 58, 1);
    color: white;
}

.templateText {
    font-weight: 400;
    font-size: 20px;
}

.templateIcons {
    width: 92px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 5px
}
