.editTextBlockCard {
    position: relative;
    right: 5px;
    width: auto;
    height: 30px;
    display: flex;
    flex-direction: row;
    background-color: rgba(22, 28, 46, 1);
    border-radius: 30px;
    padding: 15px 25px;
    gap: 30px;
}

.editImageContentCard {
    width: 135px;
    height: 30px;
    display: flex;
    flex-direction: row;
    background-color: rgba(22, 28, 46, 1);
    border-radius: 30px;
    padding: 15px 25px;
    gap: 15px;
}

.editImageSizeCard {
    width: 85px;
    height: 30px;
    display: flex;
    flex-direction: row;
    background-color: rgba(22, 28, 46, 1);
    border-radius: 30px;
    padding: 15px 25px;
}

.editTextSizeCard {
    position: absolute;
    left: 162px;
    bottom: 70px;
    width: 345px;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 2px solid rgba(255, 94, 58, 1);
    border-radius: 10px;
    padding: 25px 20px 25px 20px;
    gap: 20px;
    z-index: 2;
}

.editTextColorCard {
    position: absolute;
    left: 93px;
    bottom: 70px;
    width: auto;
    height: auto;
    display: flex;
    background-color: white;
    flex-direction: column;
    border: 2px solid rgba(255, 94, 58, 1);
    border-radius: 10px;
    padding: 25px 20px;
    gap: 20px;
    z-index: 2;
}

.editTextPositionCard {
    position: absolute;
    left: 164px;
    bottom: 70px;
    height: 35px;
    display: flex;
    flex-direction: row;
    background-color: white;
    border: 2px solid rgba(255, 94, 58, 1);
    border-radius: 10px;
    padding: 15px 25px;
    gap: 20px;
    z-index: 2;
}

.editStructureCard {
    position: absolute;
    left: 240px;
    bottom: 70px;
    width: 315px;
    height: 180px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 2px solid rgba(255, 94, 58, 1);
    border-radius: 10px;
    padding: 25px 15px;
    gap: 20px;
}

.arrow {
    position: absolute;
    top: 101%;
    left: 50%;
}

.icon {
    --g-button-padding: 0;
    --g-button-background-color: none;
    --g-button-background-color-hover: none;
}

.contentBlock {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-right: 15px;
}

.bigSubtitle {
    margin: 0;
    font-size: 22px;
    font-weight: 400;
    line-height: 22px;
}

.subtitle {
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 22px;
}

.miniSubtitle {
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 22px;
    color: #7D7D7D;
}

.titleWithValueWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titleWithValue {
    margin: 0;
    font-size: 20px;
    line-height: 22px;
}

.closeButton {
    --g-button-background-color: white;
    --g-button-background-color-hover: white;
    --g-button-padding: 0;
}

.titleBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.selectedOption {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: rgba(245, 253, 254, 1);
    border-radius: 15px;
    padding: 5px;
}

.settingsInputBlock {
    height: 36px;
    font-weight: 400;
    font-size: 18px;
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
    padding-left: 15px;
}
