.name {
    font-size: 26px;
    font-weight: 700;
    line-height: 28px;
    display: block;
}

.nameWrapper {
    display: flex;
    gap: 20px;
}

.container {
    margin: 0;
    padding: 40px;
    display: flex;
    flex-direction: column;
    max-width: 700px;
}

.subContainer {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inputFields {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.saveBtn {
    border-radius: 2100px !important;
    width: 172px !important;
}

.addBtn {
    border-radius: 2100px !important;
    width: 283px !important;
}

.createBtn {
    border-radius: 2100px !important;
    width: 283px !important;
}

.imageContainer {
    display: flex;
    gap: 20px;
}

.imageLabel {
    font-size: 20px;
    font-weight: 400;
    line-height: 22px;
    color: #444444;
    margin: 0;
}

.image {
    width: 200px;
    height: 200px;

}

.input {
    width: 500px;
    --g-text-input-border-color: black;
    --g-text-input-border-width: 1px;
    opacity: 1;
    --g-text-input-background-color: white;
    --g-text-input-text-color: black;
    --g-text-input-label-color: black;
    --g-text-input-border-color-hover: rgba(0, 0, 0, 0.24);
    --g-text-input-border-color-active: rgba(0, 0, 0, 0.24);
}
