.g-radio-button {
  border: 1px solid #FF8A5C !important;
  background-color: white !important;
  transition: color 0.1s ease-in-out !important;
  color: black !important;
}

.g-radio-button:hover {
  color: black !important;
}

.g-radio-button__plate::before, .g-radio-button__plate[hidden] ~ .g-radio-button__option_checked::before {
  background-color: #FF5E3A !important;
}

.g-radio-button__option-text {
  transition: color 0.1s ease-in-out !important;
}

.g-radio-button__option_checked .g-radio-button__option-text {
  color: white !important;
}