.g-text-input {
  border: 1px solid #161C2E;
  border-radius: 100px;
  width: 425px !important;
}

.g-text-input__content {
  padding: 0 20px !important;
  gap: 20px;
  border: none !important;
}

.g-text-input__control {
  font-family: var(--font-factor-a) !important;
  font-size: 20px !important;
  line-height: 22px !important;
  color: #161C2E !important;
  height: auto !important;
}