.settings {
    display: inline-block;
    position: absolute;
    left: 460px;
}

.settingsTriangleOrange {
    position: relative;
    border: 12px solid transparent;
    z-index: 2;
}

.settingsTriangleOrange:after {
    top: 50%;
    left: -19px;
    transform: translateY(-50%);
    content: '';
    display: inline-block;
    position: absolute;
    width: 0;
    height: 0;
    /*top: 145px;*/
    border: 10px solid transparent;
    border-right: 12px solid rgba(255, 94, 58, 1);
}

.settingsCard {
    margin-bottom: 17px;
    width: 214px;
    background: rgba(255, 94, 58, 1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 25px;
    gap: 15px;
    border: 3px solid white;
    border-radius: 10px;
}

.upperBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.settingsTitle {
    font-weight: 700;
    font-size: 20px;
    color: white;
}

.lowerBlock {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.settingsInputLabel {
    font-weight: 400;
    font-size: 18px;
    color: white;
}

.settingsInputBlock {
    width: 170px;
    height: 36px;
    font-weight: 400;
    font-size: 18px;
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
    padding-left: 15px;
}

.settingsBtn {
    --g-button-background-color: none;
    --g-button-background-color-hover: none;
    --g-button-padding: 0;
}
