.wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
    height: 100%;
    overflow: auto;
    scrollbar-width: none;
    padding: 25px 0;
    box-sizing: border-box;
}

.title {
    margin: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 26px;
}

.content {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contentConstructor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 25px;
    row-gap: 30px;
}

.subContent {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.subContentStructure {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.subContentTemplate {
    height: 620px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
    scrollbar-color: #ff8a5c #f5fdfe;
}

.contentBlock {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0 4px;
}

.contentBlockColumn {
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    gap: 15px;
}

.contentBlockRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.bigSubtitle {
    margin: 0;
    font-size: 22px;
    font-weight: 400;
    line-height: 22px;
}

.subtitle {
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 22px;
}

.miniSubtitle {
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 22px;
    color: #7D7D7D;
}

.text {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: auto;
}

.colors {
    width: 100%;
    display: flex;
    background-color: #CDCDCD;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    height: 60px;
}

.colorItem {
    display: block;
    height: 40px;
    width: 100%;
    cursor: pointer;
    box-sizing: border-box;
}

.colorItem:hover {
    border: 1px solid #CDCDCD;
}

.titleWithValueWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titleWithValue {
    margin: 0;
    font-size: 20px;
    line-height: 22px;
}

.editTextSizeCard {
    width: 385px;
    height: 256px;
    border: 2px solid rgba(255, 94, 58, 1);
    border-radius: 10px;
}

.settingsInputBlock {
    width: 100px;
    height: 40px;
    font-weight: 400;
    font-size: 18px;
    border: 1px solid rgba(125, 125, 125, 1);
    border-radius: 5px;
    outline: none;
    padding-left: 15px;
}
