.g-switch_checked .g-switch__indicator::before, .g-switch_checked:hover .g-switch__indicator::before {
    background-color: #FF8A5C !important;
}

.g-control-label {
    font-family: inherit !important;
    font-weight: 400 !important;
    font-size: 19px !important;
    color: #7D7D7D !important;
}
