.content {
    min-width: 550px;
    max-width: 700px;
    padding: 30px 25px;
    border: 2px solid #FF5E3A;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}