.wrapper {
    display: flex;
    flex-direction: column;
}

.button {
    width: 100%;
    padding: 10px 0 15px;
    font-family: inherit;
    font-size: 20px;
    text-align: left;
    line-height: 22px;
    background-color: inherit;
    border: none;
    border-bottom: 1px solid #7D7D7D;
    position: relative;
    cursor: pointer;
}

.button::after {
    position: absolute;
    content: url("assets/dropdown-arrow-down.svg");
    right: 0;
    top: 50%;
    transform: translate(-50%, -50%);
}

.button.opened::after {
    transform: translate(-50%, -50%) rotate(180deg);
}

.buttonPlus {
    width: 100%;
    padding: 10px 0 15px;
    font-family: inherit;
    font-size: 20px;
    text-align: left;
    line-height: 22px;
    background-color: inherit;
    border: none;
    position: relative;
    cursor: pointer;
}

.buttonPlus::after {
    position: absolute;
    content: url("assets/plus.svg");
    right: 0;
}

.buttonPlus.opened::after {
    content: url("assets/minus.svg");
}

.content {
    overflow: hidden;
    max-height: 0;
    transition: all ease-in-out 0.5s;
}

.contentOpened {
    margin-top: 25px;
    overflow-y: auto;
    scrollbar-width: none;
    display: block;
    transition: all ease-in-out 0.5s;
}
