.wrapper {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
}

.member {
  display: flex;
  flex-direction: column;
}

.image {
  width: 310px;
  height: 310px;
  object-fit: cover;
  margin-bottom: 25px;
}

.name {
  margin-bottom: 5px;
}

.position {
  color: #7D7D7D;
}