.container {
    position: relative;
    display: flex;
}

.tooltip {
    content: "";
    position: absolute;
    margin-top: 5px;
    padding: 2px 6px;
    margin-left: calc(105%);
    color: white;
    border: 5px solid rgba(22, 28, 46, 1);
    border-radius: 5px;
    background-color: rgba(22, 28, 46, 1);
    font-weight: 400;
    font-size: 16px;
    z-index: 100;
}