.g-select-control__button_size_xl {
    font-size: 20px;
}

.g-select-list__option_colored {
    background-color: #b6b6b6;
}

.g-select-list__option-default-label {
    font-size: 20px !important;
}
