.container {
  display: flex;
  flex-direction: column;
  padding: 50px;
  gap: 25px
}

.header {
    display: flex;
    gap: 50px;
    align-items: center;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.title {
    font-style: var(--font-factor-a);
    font-size: 32px;
    line-height: 35px;
    font-weight: 700;
    margin: 0;
}

.subContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.subtitle {
    font-style: var(--font-factor-a);
    font-size: 20px;
    line-height: 22px;
    font-weight: 400;
    color: #444444;
    margin: 0;
}

.image {
    width: 200px;
    height: 200px;
    object-fit: fit;
    border: 3px solid #FF5E3A;
}

.document {
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
}

.descriptionTitle {
    font-size: 20px;
    margin: 10px 0;
}

.description {
    margin: 0;
    font-size: 20px;
    line-height: 22px;
    font-weight: 400;
    color: #161C2E;
}

.dates {
  font-size: 20px;
  line-height: 22px;
  font-weight: 400;
  color: #161C2E;
}