.overlay {
    position: fixed;
    top: 65px;
    left: 470px;
    height: inherit;
    width: inherit;
    background-color: rgba(0,0,0,0.3);
}

.overlay:hover {
    cursor: pointer;
}

.constructorContainer {
    position: relative;
    box-sizing: border-box;
    background-size: cover;
    width: calc(100vw - 320px);
    display: flex;
    height: calc(100vh - 65px);
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    gap: 50px;
    overflow-y: auto;
    min-width: 600px;
    z-index: 1;
}

