.container {
    margin: 50px 200px;
    width: calc(100vw - 400px);
}

.upperMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 36px;
}

.description {
    font-size: 16px;
    padding-bottom: 4px;
    border-bottom: 1px solid #0095ff;
}

.groups {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.owner {

}