.container {
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    padding-bottom: 80px;
}

.blocks {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    z-index: 1;
    position: relative;
}

