.wrapper {
    display: flex;
    gap: 10px;
    align-items: center;
}

.button {
    font-size: 18px;
    line-height: 22px;
    cursor: pointer;
    position: relative;
    margin: 0;
    padding-top: 3px;
}

.button:hover {
    opacity: 0.8;
}

.button:active {
    opacity: 0.5;
}

.icon {
    width: 20px;
    height: 20px;
}

.button.disabled, .wrapper.disabled {
    opacity: 0.7;
    cursor: not-allowed !important;
}
