.leftMenu {
    display: flex;
    top: 80px;
    height: calc(100vh - 65px);

    background-color: rgba(22, 28, 46, 1);
}

.leftMenuTabs {
    width: 70px;
    display: flex;
    padding-top: 30px;
    flex-direction: column;
    gap: 40px;
}

.leftMenuContent {
    box-sizing: border-box;
    display: block;
    width: 400px;
    height: 100%;
    background-color: #F5FDFE;
    padding: 10px 25px;
}

.leftMenuImgWrapper {
    width: 100%;
    height: 100%;
}

.leftMenuImg {
    width: 40px;
    height: 40px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    position: relative;
}

.selected::after {
    position: absolute;
    content: '';
    top: 50%;
    transform: translateY(-50%);
    left: 70px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7.5px 0 7.5px 15px;
    border-color: transparent transparent transparent rgba(22, 28, 46, 1);
    animation: select ease-out 0.3s;
}

@keyframes select {
    0% {transform: translate(-100%, -50%)}
    100% {transform: translate(0, -50%)}
}
